* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }
  
  #sidebar {
    position: fixed;
    height: 100%;
    background: #313131;
    width: 200px;
    left:-200px;
    top: 0px;
  }
  a{
    text-decoration: none;
  }
  #sidebar ul li {
    color:rgba(255,230,230,0.9);
    list-style: none;
    padding: 20px 20px;
  }
  p{
    color:rgba(255,230,230,0.9);
    list-style: none;
    padding: 20px 20px;
  }
  ul:hover li:hover {
    background: rgba(255,255,255,0.3);
  }
  #sidebar .toggle-btn{
    position:absolute;
    background: #313131;
    padding: 13px;
    padding-left: 30px;
    left:170px;
    border-radius: 20px;
  }
  #sidebar .toggle-btn span{
    display: block;
    width: 40px;
    height: 6px;
    background: rgba(255,230,230,0.9);
    border-radius: 8px;
    margin: 10px 0px;
  }
  #sidebar.active{
    left:0px;
  }
  div{
    transition: all 800ms;
  }
  
  /* content */
  
  .content.active{
    left:200px;
  
  }
  .content{
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 70px;
    grid-area: content;
  }
  .content .content-title{
    transition: all 2s linear;
  }
  .content1.active{
    left:200px;
  
  }
  .content1{
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 70px;
    position: relative;
    grid-area: content1;
  }
  .content1 .content-title{
    transition: all 2s linear;
  }
  .content-body{
    grid-template-columns: 1fr 1fr 1fr ;
    display: grid;
    margin: 30px;
    margin-bottom: 55px;
    margin-left: 20px;
    max-width: 170px;
  }
  .content-item-available{
    border-radius: 8px;
    width: 100px;
    margin-left: -30px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
    color: rgba(255,230,230,0.9);
    text-align: center;
    display: block;
    list-style: none;
    background: rgba(0,0,255,1);
  }
  .content-item-unavailable{
    border-radius: 8px;
    width: 100px;
    color: rgba(255,230,230,0.9);
    margin-left: -30px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    display: block;
    list-style: none;
    background: rgba(255,0,0,0.70);
  }
  
  /* hover */
  .content-item-available:hover{
    background: rgba(100,100,255,1);
  }
  .content-item-unavailable:hover{
    background: rgba(255,100,100,0.70);
  }
  
  /* grid positioning */
  
  @media (max-width:600px){
    .row{
      width: 250px;
    }
    .content{
      margin-left: 50px;
      margin-top: 20px;
      margin-right: 70px;
      grid-area: content;
    }
    .content-item-available{
      border-radius: 8px;
      width: 70px;
      margin-left: -30px;
      margin-bottom: 30px;
      padding: 10px;
      color: rgba(255,230,230,0.9);
      text-align: center;
      display: block;
      list-style: none;
      background: rgba(0,0,255,1);
    }
    .content-item-unavailable{
      border-radius: 8px;
      width: 70px;
      margin-left: -30px;
      margin-bottom: 30px;
      padding: 10px;
      color: rgba(255,230,230,0.9);
      text-align: center;
      display: block;
      list-style: none;
      background: rgba(255,0,0,0.70);
    }
    .content-title{
      width: 200px;
    }
    .col-4{
      width: 0%;
    }
    #sidebar .toggle-btn{
      position:absolute;
      background: #313131;
      padding: 13px;
      padding-left: 30px;
      left:170px;
      border-radius: 20px;
    }
    #sidebar .toggle-btn span{
      display: block;
      width: 30px;
      height: 3px;
      background: rgba(255,230,230,0.9);
      border-radius: 8px;
      margin: 7px 0px;
    }
  }
  @media (min-width: 900px){
    .content-item-available{
      padding: 30px;
    }
    .content-item-unavailable{
      padding: 30px;
    }
  }